* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

body {
font-family: sans-serif;
}

.WrapperImage {
    max-width: 70rem;
    margin: 4rem auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
}

.Gallery {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.img-screen {
    width: 70%;
    height: 80%;
    object-fit: cover;
    margin: 30px;
    border-radius: 3%;
    cursor: pointer;
}

.Modal {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 1)) /* Green background with 30% opacity */

}

.fullImage {
    position: absolute;
    top: 4%;
    left: 30%;
    width: 500px;
    height: 600px;
    object-fit: cover;
    text-align: center;
    margin: 0 auto 50px;
}

.Left-arrow {
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: inherit;
    height: 50px;
    justify-content: center;
    margin-top: -25px;
    outline: 0;
    position: absolute;
    top: 50%;
    transition: background-color 200ms;
    width: 50px;
    left: 30px;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-transition: background-color 200ms;
}

.Unselected {
    height: 0;
    width: 0;
}

.Right-arrow {
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: inherit;
    height: 50px;
    justify-content: center;
    margin-top: -25px;
    outline: 0;
    position: absolute;
    top:50%;
    transition: background-color 200ms;
    width: 50px;
    right: 30px;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
}

.Close-icon {
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: inherit;
    height: 50px;
    justify-content: center;
    margin-top: -25px;
    outline: 0;
    position: absolute;
    top: 7%;
    transition: background-color 200ms;
    width: 50px;
    right: 30px;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
}



@media only screen and (max-width: 936px) {
    .fullImage {
      left: 24%;
    }
}

@media only screen and (max-width: 730px) {
    .fullImage {
      left: 18%;
    }
}

@media only screen and (max-width: 650px) {
    .fullImage {
      left: 13%;
      width: 400px;
      height: 600px;
    }
}

/* Loader */

.Loader {
    text-align: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #222;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }